@using Microsoft.AspNetCore.Identity
@using EBook.Domain.Entities.User; 
@model ULoginData;
@{
    ViewData["Title"] = "LogIn";
}

<html lang="en">
  <head>
    <title>Login</title>
    
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
        <link href="~/assets/css/loginStyle.css" rel="stylesheet"/>
</head>

<body style="background-color: white;">
    <style>
        .centered-title{
            position: relative;
            bottom: -20px;
            left: 13px;
        }
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-container label {
            text-align: center;
            margin-bottom: 5px;
        }

        .form-container input[type="email"],
        .form-container input[type="password"] {
            text-align: center;
            width: 320px;
            margin-bottom: 10px;
        }
        .sign-up-link{
            display: flex;
            justify-content: center;
            align-items: end;
            height: 30px;
            position:relative;
            left:100px;
            top:20px
        }
        .sign-up-link a{
            position: relative;
            top: 150px;
            margin-left: 5px;
        }
        
        .submit-button{
            background-color:#ffa500;
            color: #ffa500;
            position: relative;
            top: 20px;
            left: 10px;
        }

        .not-have-account{
            position: relative;
            left: 14cm;
            top: -4px;
        }
    </style>

    <div class="centered-title">
        <h1>Login</h1>
    </div>

    <div class="form-container">
        <form asp-controller="Login" asp-action="LogIn" method="post">
            <label>Email</label>
            <input type="email" name="Credential" placeholder="Enter your email" required>

            <label>Password</label>
            <input type="password" name="Password" placeholder="Enter your password" required>

            <div class="submit-button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

    <div>
        <a asp-area="" asp-controller="Login" asp-action="SingUp" class="sign-up-link">Sign Up Here</a>
        <span class="not-have-account">Not have an account?</span>
    </div>
    </body>
</html>

