@using EBook.Domain.Entities.User; 
@model ULoginData;
@{
    ViewData["Title"] = "LogIn";
}

<html lang="en">
  <head>
    <title>Login</title>
    <link href="~/assets/css/loginStyle.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
    <style>
        .centered-title{
            position: relative;
            bottom: -20px;
            left: 13px;
        }
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-container label {
            text-align: center;
            margin-bottom: 5px;
        }

        .form-container input[type="email"],
        .form-container input[type="password"] {
            text-align: center;
            width: 320px;
            margin-bottom: 10px;
        }
        .sign-up{
            display: flex;
            justify-content: center;
            align-items: end;
            height: 30px;
            position:relative;
            left:22px;
            top:-20px
        }
        .sign-up a{
            margin-left: 5px;
        }
        
        .submit-button{
            position: relative;
            top: -20px;
        }
    </style>

      <div class="centered-title">
        <h1>Login</h1>
      </div>
    <div class="form-container">
        <form asp-controller="Login" asp-action="LogIn" method="post">
            <label>Email</label>
            <input type="email" name="Credential" asp-for="Credential" placeholder="" />
            <span asp-validation-for="Credential" class="text-danger"></span>
            <label>Password</label>
            <input type="password" name="Password" asp-for="Password" placeholder="" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="submit-button">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
    <div class="sign-up">
        Not have an account? <a asp-area="" asp-controller="Login" asp-action="SingUp"> Sign Up Here</a>
    </div>
  </body>
</html>

