
@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EBook.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EBook</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="AIndex">Authors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categorie" asp-action="CIndex">Categorie</a>
                        </li>
                        <div class="right-sidebar">
                        @{
                            // Obțineți valoarea cookie-ului "AuthCookie" (tokenul de autentificare)
                            var userName = Context.User.Identity.Name;
                            string authToken = Context.Request.Cookies["AuthCookie"];
                            string username = Context.Request.Cookies["AuthCookie"];

                            //parasa asta nu vrea sa lucreze => if (User.Identity.IsAuthenticated)
                            // Verificați dacă tokenul este prezent și valabil
                            if (!string.IsNullOrEmpty(authToken))
                            {
                            // Afișați conținutul pentru utilizatorul autentificat
                            //Nu lucreaza nu  pot pune username HZ cum
                                    <span>Bun venit, @ViewBag.name!</span>
                                    //<span>Bun venit, @ViewData["name"]!</span>
                                <a class="btn btn-primary" asp-controller="Cart" asp-action="Index">
                                    <i class="bi bi-cart-fill me-2"></i>ShopingCart
                                </a>
                                <a class="btn btn-outline-success" asp-controller="Login" asp-action="Logout">Logout</a>
                                
                            }
                            else
                            {
                                // Afișați conținutul pentru utilizatorul neautentificat
                                    <a class="btn btn-outline-success" asp-controller="Login" asp-action="LogIn">Login</a>
                                    <a class="btn btn-outline-success" asp-controller="Login" asp-action="SingUp">Sign Up</a>
                            }
                        }
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EBook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    .right-sidebar {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>